{% extends 'layout.html' %}

{% block title %}Hacker Forms{% endblock %}

{% block content %}
<div id="app" class="clearfix">
	<img src="http://www.corbisimages.com/images/Corbis-42-17690328.jpg?size=67&uid=b821b59d-f8a8-4607-b761-f0c756625703">
</div>
<!-- <iframe src="http://localhost:3000/javascripts/iframe.html" style="display:none"></iframe> -->

<iframe src="http://localhost:3000/input" style="display:none"></iframe>

<!-- <img src="http://localhost:3000/javascripts/about.js" style="display:none"></img> -->

<!-- <iframe src="http://localhost:3000/javascripts/script.html" style="display:none"></iframe> -->


{% endblock %}